<div class="row">
  <div class="col-md-8">
    <h1> Learning Designed for you</h1>
    <p>Deaf resources, created by the Deaf community for the Deaf</p>
  </div>
  <div class="col-md-4">
  <img src= "..app/assets/images/circleplaceholder.png" alt="circle">
  </div>
</div>
